<h1>Cześć {{ username }}</h1>
<p>To jest przykładowy e-mail!</p>
<p>
<a href="https://blog.mloza.pl" target="_blank" style="display: inline-block; color: #ffffff; background-color: #3498db;
border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none;
font-size: 14px; font-weight: bold; margin: 0 auto; padding: 12px 25px; border-color: #3498db;">Podoba mi się!</a>
</p>

--<br>
Pozdrawiam!<br>
Michał z blog.mloza.pl
